/* Define a CSS variable for tab width */
:root {
    --tab-width: 33%; /* Adjust this value to set the tab width */
  }
  
  /* Overlay to create a darkened background */
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(1, 33, 105, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  /* Main card container */
  .card {
    width: 90%;
    max-width: 1000px;
    height: 80%;
    max-height: 700px;
    background-color: rgb(1, 33, 105);
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
  
  /* Header containing the tabs */
  .card-header {
    display: flex;
    justify-content: flex-start; /* Align tabs to the right */
    position: relative;
    top: -1px; /* Adjust this to position the tabs properly */
    left: 0;
  }
  
  /* Individual tab styling */
  .card-tab { 
    flex: 0 0 auto; /* Prevent tabs from stretching */
    width: auto; /* Allow tabs to take up only as much space as needed */
    min-width: 120px;
    text-align: center;
    padding: 10px 20px; /* Adjust padding for the tab size */
    cursor: pointer;
    background-color: rgb(1, 33, 105);
    border: 1px solid rgb(253, 197, 0);
    color: rgb(253, 197, 0);
    border-bottom: none;
    z-index: 1;
    border-left: none;
    
    
  
  }
  
  /* Remove left border for all tabs except the first one */
  /* .card-tab + .card-tab {
    border-left: none;
  } */
  
  /* Active tab styling */
  .card-tab.active {
    background-color: rgb(253, 197, 0);
    color: rgb(1, 33, 105);
  }
  
  /* Body of the card */
  .card-body {
    flex: 1;
    padding: 20px;
    background-color: rgb(253, 197, 0);
    border-top: 1px solid #000;
    margin-top: 20px; /* Adjust this to align the content properly */
    overflow-y: auto;
    border-radius: 10px;
  }
  
  /* Content inside the card */
  .card-content {
    text-align: center;
  }
  
  /* Close button styling */
  .close-button {
    position: absolute;
    top: 10px;
    right: 20px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgb(253, 197, 0);
    color: black;
    text-align: center;
    line-height: 30px;
    font-size: 24px;
    cursor: pointer;
    z-index: 2;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .close-button:hover {
    background-color: black;
    color: rgb(253, 197, 0);
    border: 1px solid rgb(253, 197, 0);
  }
  
  /* Media queries for responsive design */
  @media (max-width: 768px) {
    .card {
      width: 90%;
      height: 90%;
    }
  
    .card-tab {
      padding: 10px 15px;
    }
  }
  
  @media (max-width: 480px) {
    .card {
      width: 95%;
      height: 95%;
    }
  
    .card-tab {
      padding: 10px 10px;
    }
  }
  