.user-dashboard {
  display: flex;
  background-color: rgb(253, 197, 0);
  height: 100vh;
  overflow: hidden;
}

.content-card {
  display: flex;
  background-color: rgb(0, 0, 0);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 0px;
  box-sizing: border-box;
  margin: 10px;
  flex: 1;
  min-height: 0;
  margin-top: 85px;
}

.grid-container-admin {
  display: flex;
  flex: 1; 
  gap: 0px; 

}

.grid-item-admin {
  flex: 1;
  overflow: hidden; 
  margin-top: 20px;
}



/* Tablet adjustments */
@media (max-width: 1024px) {
  .content-card {
      margin-left: 10px;
      margin-right: 10px;
  }
}

/* Mobile adjustments */
@media (max-width: 768px) {
  .content-card {
      margin-left: 10px;
      margin-right: 10px;
  }
}

@media (max-width: 480px) {
  .content-card {
      padding: 10px;
  }
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.summary-container {
  display: flex 1;
  justify-content: space-between;
  align-items: center;
  height: 100;
  background-color: rgba(9, 105, 125, 0.1);
  border-radius: 10px;
  padding: 50px;
  margin-top: 0px;
  margin-left: 0px;
}



.grid-item {
  flex: 1;
  padding: 1em;
  padding-left: 1em;
  border-left: 1px solid rgb(0, 0, 0);
  
}

.grid-item:first-child {
  border-left: none;
}
