.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fdc500;
}
  
.card-title {
    margin-top: 0;
    font-size: 1.5em;
    color: white;
}
  
.table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fdc500;
}
  
.table th, .table td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}
  
.table th {
    /* background-color: #f4f4f4; */
    color: #333;
}
  
